@import "variables.scss";
@import "mixins.scss";

// Handy Utility classes

// Background color classes
.bg-blue.bg-blue.bg-blue {
  background-color: $color-xr-blue-lazuli;
}

.bg-blue-baby.bg-blue-baby.bg-blue-baby {
  background-color: $color-xr-blue-baby;
}

.bg-green.bg-green.bg-green {
  background-color: $color-xr-green-may;
}

.bg-pink.bg-pink.bg-pink {
  background-color: $color-xr-pink;
}

.bg-red.bg-red.bg-red {
  background-color: $color-xr-red;
}

.bg-orange.bg-orange.bg-orange {
  background-color: $color-xr-orange;
}

.bg-lemon.bg-lemon.bg-lemon {
  background-color: $color-xr-lemon;
}

.bg-yellow.bg-yellow.bg-yellow {
  background-color: $color-xr-yellow;
}

// Text positioning
.text-md-right {
  @include media-query-min($on-laptop) {
    text-align: right !important;
  }
}
