#clock, .timeto {
    text-align: center;
    font-family: fucxedlatin,sans-serif;
    font-weight: normal;
}


#clock {
    font-size: 35px;
    color: black;
    background-color: #CAFF11;
}

.timeto {
    font-size: 20px;
    color: #CAFF11;
    background-color: black;
}
