#main-nav{
 margin:0;
 padding:0;
}

#main-nav .container{
 max-width: 1100px;
}

#top{
  margin: 0 -9999rem;
  padding: 0rem 9999rem;
  background-color: white;
}

#main-nav{
 top:0;
 transition: all .3s ease;
}

#main-nav.hide {
	top: -32px;
}

#top a{
  padding: 0px 7px;
}

#top a:hover{
  color: #14AA37 !important;
}

#main{
  margin: 0 -9999rem;
  padding: 0rem 9999rem;
  background-color: #14AA37;
}

#main li a{
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

#main li a:hover{
  color: white !important;
}

.active a span{
  color: white;
}

#main li:last-child a{
	color:white !important;
	background-color: black;
}

#main li:last-child a:hover{
	color: black !important;
	background-color: white;
}

#sub{
  margin: 0 -9999rem;
  padding: 0rem 9999rem;
  background-color: white;
}

#sub a{
  padding: 4px 10px;
}

#sub li{
  margin: 0px 4px;
}

#sub li a:hover{
	border-bottom:3.5px solid black;
	margin-bottom:0px;
}

#sub .active a{
	border-bottom:3.5px solid black;
}

.navbar a{
	color: black !important;
	font-family: fucxedlatin,sans-serif;
	font-weight: normal;
}

.logo a svg{
	height: 50px;
	margin:10px;
	margin-left: -25px;
}

.nav ul{
	padding: 0;
}

.nav li{
	margin: 0;
}

.nav .navbar-nav ul{
	padding:0;
}

#main-nav .col{
	padding: 0;
	flex-wrap: wrap;
}

.navbar-nav{
	padding: 5px 0;
	flex-direction: row;
}



.clock{

}


#nav-in{
	flex-grow: 1;
}

.logo-col, .lang-ph, #nav-ph{
	display: none;
}

.lang-ph{
	font-size: 2.75rem;
}

.lang-ph ul ul li a{
	font-size: 1.3rem;
}

.navbar-toggler, .navbar-light .navbar-toggler{
	border: none !important;
	color: transparent;
	font-size: 1.2rem;
}


.navbar-light .navbar-toggler-icon{
background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.3' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

#navbarToggleExternalContent{
		background-color: #14aa37;
		border-top: 1px solid white;
		padding-bottom: 20px;
		visibility: hidden !important;
}

@include media-query(992px){
	#main-nav{
		position: relative;
	}
	#navbarToggleExternalContent{
	  visibility: visible !important;
	}
	.logo, #nav-in{
		display: none;
	}
	.logo-col, .lang-ph {
		display: inherit;
	}
	#main-nav, #main-nav .top, #main-nav .main, #main-nav #sub{
		background-color: #14aa37;
	}

	#main-nav .col .navbar-nav{
		flex-direction: column;
	}
}

#col-some ul li a{
	margin: 7px;
	color: white;
}

#col-menu{
 	padding-bottom: 15px;
	margin-top: -5px;
}

#col-menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#col-menu li{
  padding: 2px;
}


#col-menu a{
	color: black;
	text-decoration: none;
	font-family: FucXedLatin;
	font-size: 1.5rem;
}

#col-menu hr{
	opacity: 1;
	margin: 0;
	height: 1px;
}

#collapseExample li{
	margin-bottom: 5px;
}


#collapseExample a{
	font-size: 1.2rem;
}

#collapseExample .active a{
	color: white;
}

.row{
	margin-left:	0px;
	 margin-right:  0px;
}

