{{ define "main" }}

<div class="container post-container">

  <article class="action" itemscope itemtype="http://schema.org/event">

    <header class="post-header">

      <h1 class="post-title" itemprop="name">Test{{ .Title }}</h1>

      {{ if .Params.image }}
        <img src="{{ .Params.image | absURL }}" class="img-fluid img mx-auto" />
      {{ end }}

      <div class="action-date" itemprop="startDate" content="{{ .Params.event_date }}">
        {{ if .Params.date }}
          {{ .Params.date.Format "2 January 2006" }}
          {{ if .Params.time }}
            {{ .Params.time }}
          {{ else }}
          {{ end }}
        {{ end }}
        
      </div>
    </header>

    <div class="post-content">

      {{ if .Params.pdf }}
        <object data="{{ .Params.pdf }}" width="1000" height="1000" type='application/pdf'/>
      {{ else }}
        {{ .Content }}
      {{ end }}

      <p class="post-meta"> 
        {{ with .Site.GetPage "/news" }}{{ .Params.published_on }}{{end}}
        <time datetime="{{ .Params.date.Format "January 2, 2006" }}" itemprop="datePublished"> 
          {{ .Params.PublishDate.Format "2 January 2006" }}
        </time>
        {{ if .Params.author }} 
          {{ with .Site.GetPage "/news" }}{{ .Params.by }}{{end}}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ .Params.author }}</span>.
          </span>
        {{ end }}
      </p>
    </div>
  </article>
</div>

{{ end }}
