<nav id="main-nav" class="navbar navbar-default navbar-custom navbar-expand-lg fixed-top sps sps--abv"
    data-sps-offset="100">
    <div class="container align-items-stretch">

        <a class="navbar-brand" href="#"> {{ "/static/images/xr-withtext.svg" | readFile | safeHTML }}</a>

        <div class="collapse navbar-collapse nav" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
              {{ partial "i18nlist.html" . }}
            </ul>
            <ul class="nav navbar-nav ml-auto">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
              <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
                <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">
                  <span>{{ .Name }}</span>
                </a>
              </li>
              {{ end }}
            </ul> 
        </div>

{{ range site.Menus.main }}
    {{ .Name }} / {{ .Title }} / {{ .Weight }}
    <br>
{{ with .Children }}
      {{ range . }}{{ .Name }}<br>{{ end }}
    {{ end }}
{{ end }}
    <br>
    </div>
</nav>
