<nav id="main-nav" class="navbar navbar-default navbar-custom navbar-expand-lg fixed-top sps sps--abv"
    data-sps-offset="100">
    <div class="container align-items-stretch">

        <a class="navbar-brand" href="#"> {{ "/static/images/xr-withtext.svg" | readFile | safeHTML }}</a>

        <div class="collapse navbar-collapse nav" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
              {{ partial "allLanguages.html" . }}
            </ul>
            <ul class="nav navbar-nav ml-auto">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
              <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
              {{ end }}
            </ul> 
        </div>
    </div>
</nav>
