{{ $redirect_to :=  "/join-success" | absURL }}

<section class="join-us bg-blue">
  {{ $contact_script := resources.Get "php/contact.php" }}
  <form action="{{ $contact_script.Permalink }}" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='cf_redirect_to' value='{{ $redirect_to }}' />
    <div class="container join-title">
      <h2>{{with .Site.GetPage "/join"}}{{.Params.join_us.title}}{{end}}</h2>
      <p>{{with .Site.GetPage "/join"}}{{.Params.join_us.intro}}{{end}}</p>
    </div>
    <div class="container form-wrapper">
      <div class="input-wrapper">
        <div class="label-row">
          <label for="name">
            {{with .Site.GetPage "/join"}}{{.Params.join_us.name}}{{end}}
          </label>
          <p class="input-info">/{{with .Site.GetPage "/join"}}{{.Params.join_us.pseudo}}{{end}}</p>
        </div>
        <input type="text" name="cf_name" required id="input-name" />
        
      </div>
      <div class="input-wrapper">
        <label for="email">
          Email
        </label>
        <input type="email" name="cf_email" required id="input-email" />
      </div>
      <div class="input-wrapper">
        <label for="branchcanton">
          {{ with .Site.GetPage "/join" }}{{ .Params.join_us.canton_branch }}{{ end }}
        </label>

      <select name="cf_region" id="cantons-select">
        <option disabled selected value> </option>
        <optgroup label="{{ with .Site.GetPage "/join" }}{{ .Params.join_us.branch }}{{ end }}">
          {{ range where .Pages "Section" "localgroups" }}
            <option value="Branch: {{ .Title }}">{{ .Title }}</option>
          {{ end }}
        </optgroup>
      </select>
      </div>  

      <div class="input-wrapper">
        <label for="captcha">
          {{ with .Site.GetPage "/join" }}{{ .Params.join_us.enter_captcha }}{{ end }}
        </label>
        <input type="text" name="cf_captcha" required id="captcha" />
      </div>
      <div class="input-wrapper">
        <label for="captcha">
          Captcha Code
        </label>
        {{ $captcha_script := resources.Get "php/captcha.php" }}
        <img src="{{ $captcha_script.Permalink }}" alt="PHP Captcha">
      </div>
      <div class="button-wrapper">
        <button type="submit" value="Submit" class="page-scroll o-button-pink">
          {{ with .Site.GetPage "/join" }}{{ .Params.join_us.submit }}{{ end }}
        </button>
      </div>

    </div>

  </form>
</section>
