{{ $redirect_to_success :=  "/join-success" | absURL }}
{{ $redirect_to_captcha_failed :=  "/join-captcha-failed" | absURL }}


<section class="join-us bg-blue">
  <div class="container join-title">
    <h2>{{with .Site.GetPage "/join"}}{{.Params.join_us.title}}{{end}}</h2>
    <p>{{with .Site.GetPage "/join"}}{{.Params.join_us.intro}}{{end}}</p>
  </div>

  <script src="{{with .Site.GetPage "/join"}}{{.Params.join_us.form_uri}}{{end}}?format=js&source=widget&clear_id=true&can_widget_id=an-signup"></script>
  <div id="an-signup" class="container form-signup">
    <!-- Form placeholder -->
  </div>
</section>
