{{ define "main" }}

<h1 class="page-heading">{{.Title}}</h1>

<div id="FilterContainer">

  <!-- Get distinct values for used languages, branches, eventtypes -->

  <!-- Branches -->
  {{ $unique_branches := index .Site.Taxonomies "branch" }}
  <!-- Eventtypes -->
  {{ $unique_types := index .Site.Taxonomies "event_type" }}

  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="font-size : 30px;">
    Filter
  </button>

  <div class="collapse" id="collapseFilter">
      <button class="btn active" onclick="filterSelection('all')">Show all</button>
      <p>
        By local group
        {{ range $unique_branch, $val := $unique_branches }}
          {{ $branch_name := replace $unique_branch "-" " " }}
          <button class="btn" onclick="filterSelection('branch_{{ $unique_branch | urlize }}')">{{ $branch_name }}</button>
        {{ end }}
      </p>
      <p>
        By event type
        {{ range $unique_type, $val := $unique_types }}
          <button class="btn" onclick="filterSelection('event_type_{{ $unique_type }}')">{{ $unique_type }}</button>
        {{ end }}
      </p>
  </div>
</div>

<section id="calendar" class="evenements">
  <div class="container">
    <div class="row">
      {{ range .Pages }}
      <div class="filterDiv event_type_{{ .Params.event_type }} branch_{{ .Params.branch | urlize }} col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 xr-color-box">
        {{ $type := .Params.event_type }}
        {{ $bg := "bg-purple" }}
        {{ if (eq $type "nvda") }}
          {{ $bg = "bg-blue-baby" }}
        {{ else if (eq $type "talk") }}
          {{ $bg = "bg-green-moss" }}
        {{ else if (eq $type "welcome") }}
          {{ $bg = "bg-lemon" }}
        {{ else if (eq $type "action") }}
          {{ $bg = "bg-pink" }}
        {{ end }}
        <div class="card py-md-0 px-md-0 border-0 {{ $bg }} rounded-0">
          {{ if .Params.thumb }}
            <a href="{{ .Permalink }}" class="event-link">
                <img src="{{ .Params.thumb | absURL}}" class="img-fluid mx-auto" />
            </a>
          {{ end }}
          <div class="card-body">
            <h3 class="card-title event-title">
              <a href="{{ .Permalink }}" class="event-link {{ $bg }}">
                {{ .Title }}
              </a>
            </h3>
            <div class="card-date">
              {{ .Params.date.Format "02.01.2006" }}
            </div>
            <div class="card-venue">
              {{ .Params.event_loc_addressLocality }}
            </div>
            <div class="card-excerpt">
              <p>{{ .Summary | truncate 180 }}</p>
            </div>
            <div class="card-button">
              <a class="o-button-black" href="{{ .Permalink  }}" class="event-link">
                {{with .Site.GetPage "/act/events"}}{{.Params.learn_more}}{{end}}
              </a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>>

{{ end }}
